h1{
    background: red;
}














/* Universal */
img
{
    
    /* width: auto; */
    height: 600px;
    object-fit:scale-down;
}

.minWidth
{
    min-width: 400px;
}

h1
{
    display: flex;
    justify-content: center;
}

.crsl-desc-font
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    color: red;
    font-weight: bolder;
}
/* .flex
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
} */





/*Jessie Codes*/



