h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.external-links-spacing {
  display: flex;
  justify-content: space-around;
  margin: px;
}

/* Universal */
img {
  width: auto;
  /* height: 600px;
  object-fit: scale-down; */
}

.minWidth {
  min-width: 360px;
}

h1 {
  display: flex;
  justify-content: center;
}

.crsl-desc-font {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  color: red;
  font-weight: bolder;
  text-shadow: 1px 1px 2px #000000;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
  filter: invert(100%);
}

.external-links-spacing {
  display: flex;
  justify-content: space-around;
  margin: px;
}

/* .center-crsl
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
} */

/*Jessie Codes*/
